// COLORS
$color-primary: #3a7bd5;
$color-primary-light: #5e95f1;
$color-primary-dark: #0f62b9;

$color-secondary-light: #D3959B;
$color-secondary-dark:#BFE6BA;

$color-tertiary-light: #f2709c;
$color-tertiary-dark: #ff9472;

$color-quaternary-light: #ffc500;
$color-quaternary-dark: #c21500;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;