.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: $shadow-2;
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: $clip-path-circle;
        shape-outside: $clip-path-circle;
        -webkit-clip-path: $clip-path-circle;
        clip-path: $clip-path-circle;
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s ease;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 400;
        text-align: center;
        opacity: 0;
        transition: all .5s ease;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(70%);
    }
}