.tour__container {
    background-color: #fff;
    height: 100rem;

    -webkit-box-shadow: 0px 0px 68px -50px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 68px -50px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 68px -50px rgba(0, 0, 0, 0.31);

}