*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1 rem = 10px = 62.5%


    @include respond(tab-land) {
        // width < 900
        font-size: 56.25%; // 1 rem = 8px
    }

    @include respond(tab-port) {
        // width <600
        font-size: 50%;
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }

}